@import url(reset.css);


.flex-container {
	height: 600px;
	background-color: blue;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}

.flex-item {
	height: 150px;
	width: 300px;
	background-color: orange;
	margin-right: 10px;
}

.flex-item.one {
	order: 1;
	flex-grow: 0;
	flex-shrink: 5;
}

.flex-item.three {
	order: 2;
}